<!DOCTYPE html>
<html>
<head>
<style>
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
	margin-left: 15%;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

table {
	width: 70%;
	margin: 0px 15%;
	
}	

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}


</style>
</head>
<body>

	<ul>
		<li><a href="#home"><h3>YHH's Board</h3></a></li>
	</ul>

	<h2 style="margin-left: 15%;">게시물 조회</h2>
	<table>
		<tr>
			<td>제목</td>
			<td colspan="5" >
				게시물제목
			</td>
		</tr>
		<tr>
			<td>게시자</td>
			<td>
				난 게시자
			</td>
			<td>게시일</td>
			<td>
				2016-01-04
			</td>
			<td>조회수</td>
			<td>
				100
			</td>
		</tr>
		<tr>
			<td>내용</td>
			<td colspan="5">
				내용내용내용내용
			</td>
		</tr>
	</table>
	<br><br>
	<table>
		<caption style="margin-bottom:5px;">
			<div style="float: left">댓글 3</div>
		</caption>
		<tr  style="border-style: none;">
			<td>제목</td>
			<td colspan="5">
				게시물제목
			</td>
		</tr>	
	</table>

<div style="text-align:right; margin: 5px 15%;">
	<div>비밀번호 : <input type = "password"></div>
	<button style="margin-top: 9px;">글 목록</button>
	<button style="margin-top: 9px;">새글쓰기</button>
	<button style="margin-top: 9px;">답글쓰기</button>
	<button style="margin-top: 9px;">수정</button>
	<button style="margin-top: 9px;">삭제</button>
</div>

</body>
</html>
